/* GLOBAL STYLES */

:root {
  --bg-body: hsl(0, 0%, 8%);
  --bg-contact: hsl(0, 0%, 14%);
  --accent: hsl(153, 71%, 59%);
  --text1: hsl(0, 0%, 100%);
  --text2: hsl(0, 0%, 85%);
  --invalid: hsl(7, 100%, 68%);

  --fs-18: 1.125rem;
  --fs-88: 5.5rem;
  --fs-72: 4.5rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;

  --container: 69.375rem;

  --transition: 250ms ease-in-out;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--bg-body);
  color: var(--text1);
  font-size: var(--fs-body);
  line-height: 1.56;
}

a {
  text-decoration: none;
  transition: color var(--transition);
}

a:hover {
  color: var(--accent);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: min(var(--container), 100% - 2rem);
  margin-inline: auto;
}

/* 600px tablet */
@media (min-width: 37.5em) {
  .container {
    width: min(var(--container), 100% - 3.75rem);
  }
}

/* HEADER */

.header {
  margin-top: 20px;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

.header__home {
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--text1);
  flex: 1 0 100%;
}

.header__social {
  line-height: 0;
}

.header__social > svg > path {
  transition: fill var(--transition);
}

.header__social:hover > svg > path {
  fill: var(--accent);
}

/* 600px tablet */
@media (min-width: 37.5em) {
  .header__nav {
    justify-content: start;
    align-items: center;
    text-align: left;
    gap: 32px;
  }

  .header__home {
    flex: 1;
  }
}
