/* GLOBAL STYLES */

:root {
  --bg-body: hsl(0, 0%, 8%);
  --bg-contact: hsl(0, 0%, 14%);
  --accent: hsl(153, 71%, 59%);
  --text1: hsl(0, 0%, 100%);
  --text2: hsl(0, 0%, 85%);
  --invalid: hsl(7, 100%, 68%);

  --fs-18: 1.125rem;
  --fs-88: 5.5rem;
  --fs-72: 4.5rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-32: 2rem;
  --fs-24: 1.5rem;

  --container: 69.375rem;

  --transition: 250ms ease-in-out;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Space Grotesk', sans-serif;
  background-color: var(--bg-body);
  color: var(--text1);
  font-size: var(--fs-body);
  line-height: 1.56;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  font-size: 40px;
  font-size: clamp(40px, 5px + 7.68vw, 88px);
  letter-spacing: -0.0284em;
}

p {
  line-height: 1.5;
  font-size: 16px;
  font-size: clamp(16px, 12.64px + 0.89vw, 18px);
}

a {
  text-decoration: none;
  transition: color var(--transition);
}

a.underline {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.625rem;
  letter-spacing: 0.143em;
  text-transform: uppercase;
  color: var(--text1);
}

a:hover {
  color: var(--accent);
}

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.container {
  width: min(var(--container), 100% - 2rem);
  margin-inline: auto;
}

@media (min-width: 37.5em) {
  .container {
    width: min(var(--container), 100% - 3.75rem);
  }
}

/* HEADER */

.header {
  position: relative;
  z-index: 1;
  margin-top: 20px;
}

.header__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  gap: 20px 25px;
}

.header__home {
  font-size: clamp(1.5rem, 1.02rem + 2.04vw, 2rem);
  line-height: 1;
  color: var(--text1);
  flex: 1 0 100%;
}

.header__social {
  line-height: 0;
}

.header__social > svg > path {
  transition: fill var(--transition);
}

.header__social:hover > svg > path {
  fill: var(--accent);
}

@media (min-width: 37.5em) {
  .header {
    margin-top: 30px;
    margin-bottom: 90px;
  }

  .header__nav {
    justify-content: start;
    align-items: center;
    text-align: left;
    gap: 32px;
  }

  .header__home {
    margin-inline-end: auto;
    flex: 0 1 auto;
  }
}

@media (min-width: 62.5em) {
  .header {
    margin-top: 40px;
    margin-bottom: 127px;
  }

  .header__nav {
    padding-right: 30px;
  }
}

/* HERO */

.hero {
}

.hero__container {
  padding-bottom: 80px;
  border-bottom: 1px solid var(--text2);
}

.hero__image {
  position: absolute;
  top: 0;
  left: 50%;
  translate: -50%;
  display: block;
}

.hero__rings {
  position: absolute;
  right: 50%;
  top: 130px;
  z-index: -1;
}

.hero__circle {
  position: absolute;
  top: 254px;
  right: 0;
  translate: 50%;
}

.hero__text {
  position: relative;
  text-align: center;
  margin-top: 335px;
}

.hero__headline {
  margin-bottom: 24px;
}

.hero__headline > br {
  display: none;
}

h1 > span {
  position: relative;
  text-decoration: underline var(--accent);
  text-decoration-thickness: clamp(4px, 1px + 0.5vw, 6px);
  text-underline-offset: clamp(12px, 3px + 1.5vw, 20px);
}

.hero__description {
  margin-bottom: 24px;
}

.hero__contact {
  text-decoration: underline var(--accent);
  text-decoration-thickness: 2px;
  text-underline-offset: 10px;
}

@media (min-width: 37.5em) {
  .hero__container {
    padding-bottom: 60px;
  }

  .hero__headline {
    margin-bottom: 60px;
  }

  .hero__headline > br {
    display: inline-block;
  }

  .hero__image {
    width: 42vw;
    max-width: 445px;
    height: auto;
    left: auto;
    right: 0;
    translate: 0%;
  }

  .hero__rings {
    top: 85px;
  }

  .hero__circle {
    top: 468px;
  }

  .hero__text {
    width: 58vw;
    text-align: left;
    margin-top: 0;
  }

  .hero__description {
    width: 70%;
    margin-bottom: 34px;
  }
}

@media (min-width: 62.5em) {
  .hero__container {
    position: relative;
  }

  .hero__headline {
    margin-bottom: 43px;
  }

  .hero__headline > br {
    display: none;
  }

  .hero__image {
    /* width: 445px; */
    translate: 0 -199px;
  }

  .hero__circle {
    top: 322px;
    right: 445px;
  }

  .hero__description {
    width: 38ch;
    margin-bottom: 66px;
  }
}
